*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
.fly-in-text{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%) ;
}
.fly-in-text li{
    display: inline-block;
    margin-right: 50px;
    font-family: Open Sans,Arial;
    font-weight: 300;
    font-size: 3em;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child{
    margin-right: 0;
}
.fly-in-text.hidden li{
    /*opacity: 0;*/
}
.fly-in-text.hidden li:nth-child(1){transform: translateX(-100px) translateY(-150px);}
.fly-in-text.hidden li:nth-child(2){transform: translateX(20px) translateY(100px);}
.fly-in-text.hidden li:nth-child(3){transform: translateX(-150px) translateY(80px);}
.fly-in-text.hidden li:nth-child(4){transform: translateX(10px) translateY(150px);}
.fly-in-text.hidden li:nth-child(5){transform: translateX(-300px) translateY(160px);}
.fly-in-text.hidden li:nth-child(6){transform: translateX(20px) translateY(190px);}
.fly-in-text.hidden li:nth-child(7){transform: translateX(30px) translateY(-20px);}
.fly-in-text.hidden li:nth-child(8){transform: translateX(40px) translateY(-170px);}